<% posts.forEach(function(post,index){
    if(index % 3==0){ %>
        <div class="row">
    <%}%>
    <div class="span4">
        <h2><a href="/u/<%=post.user%>"><%=post.user %></a>说</h2>
        <p>
        <small><%=post.time%></small>
        </p>
        <p>
            <%if(user.name){%>
                  <span  class='col-sm-11'><%=post.post%></span>
                  <a class='col-sm-1' href='/delete/blog/<%= post._id %>'>删除</a>
            <%}else{%>
            <span><%=post.post%></span>
            <%}%>
        </p>

    </div>
     <% if(index % 3 == 2){%>
        </div> <!--结束行-->
     <%}%>
<%})%>
    <% if (posts.length % 3 !=0){ %>
      </div>  <!--结束行-->
    <%}%>